{% extends 'base.html' %}
{% block content%}

{% if user.is_authenticated %}
    <h1>Agregar comentarios a la Noticia</h1>
    <br><br>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        
        <button type="submit" class="btn btn-info">Subir Comentario</button></form>
    </div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("root").value
        = name;
    </script>

    
{% else %}
    <center><strong> No tiene los permisos necesarios para agregar comentarios</center></strong>
 
{% endif %}
{% endblock%}